TD {
	FONT-SIZE: 14px
}
.wipt {WIDTH: 130px
}
P {
	COLOR: #333333; LINE-HEIGHT: 150%; MARGIN: 0px 0px 4px; TEXT-INDENT: 24px
}
.txt18 {
	FONT-WEIGHT: bold; FONT-SIZE: 25px; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.txt19 {
	FONT-WEIGHT: bold; FONT-SIZE: 25px; color: #990000 ;FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.in8:link {
	COLOR: #ffff00; TEXT-DECORATION: none
}
A.in8:visited {
	COLOR: #ffff00; TEXT-DECORATION: none
}
A.in8:active {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
A.in8:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
A.in3:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.in3:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.in3:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.in3:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.in1:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-weight: bold;
}
A.in1:visited {
	COLOR: #000000; TEXT-DECORATION: none;font-weight: bold;
}
A.in1:active {
	COLOR: #000000; TEXT-DECORATION: none;font-weight: bold;
}
A.in1:hover {
	COLOR: #000000; TEXT-DECORATION: none;font-weight: bold;
}
A.in1 {
	COLOR: #000000; TEXT-DECORATION: none;font-weight: bold;
}
A.in4:link {
	COLOR: #146fc2;
	font-size: 14px;
	font-weight: bold;
}
A.in4:visited {
	COLOR: #146fc2;
	font-weight: bold;
}
A.in4:active {
	COLOR: #3e00df; TEXT-DECORATION: underline;
	font-weight: bold;
}
A.in4:hover {
	COLOR: #3e00df; TEXT-DECORATION: underline;
	font-weight: bold;
}
A.in7:link {
	COLOR: #CC0000; TEXT-DECORATION: underline
}
A.in7:visited {
	COLOR: #CC0000; TEXT-DECORATION: underline
}
A.in7:active {
	COLOR: #CC0000; TEXT-DECORATION: underline
}
A.in7:hover {
	COLOR: #CC0000; TEXT-DECORATION: underline
}
A.in2:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px;
}
A.in2:visited {
	COLOR: #000000; TEXT-DECORATION: none;
	font-size: 12px;
}
A.in2:active {
	COLOR: #3480A6;
	font-size: 12px;
}
A.in2:hover {
	COLOR: #3480A6;
	font-size: 12px;
	font-weight: bold;
}
A.in5:link {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A.in5:visited {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A.in5:active {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
A.in5:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.font1 {
	FONT-SIZE: 14px
}
.font2 {
	FONT-SIZE: 22px
}
.log {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 14px
}
.sinput {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; BORDER-LEFT: #ffffff 1px ridge; WIDTH: 40px; BORDER-BOTTOM: 1px ridge; HEIGHT: 17px; BACKGROUND-COLOR: #cccccc
}
.iwhiteCopy {
	BORDER-RIGHT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: rgb(0,0,0) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(0,0,0) 1px solid; FONT-FAMILY: "??¡§??"; BACKGROUND-COLOR: #DFE8F0
}
.iwhiteCopy2 {
	BORDER-RIGHT: rgb(28,211,234) 1px solid; BORDER-TOP: rgb(28,211,234) 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: rgb(28,211,234) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(28,211,234) 1px solid; FONT-FAMILY: "??¡§??"; BACKGROUND-COLOR: #ffffff
}
.topinput {
	BORDER-RIGHT: #35ecfe 1px solid; PADDING-RIGHT: 1px; BACKGROUND-POSITION: left 50%; BORDER-TOP: #00aeff 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #00aeff 1px solid; WIDTH: 80px; PADDING-TOP: 1px; BORDER-BOTTOM: #35ecfe 1px solid; HEIGHT: 14px; BACKGROUND-COLOR: #ebfeff; TEXT-ALIGN: left
}
.topbutton {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #53e4fe 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #53e4fe 1px solid; WIDTH: 40px; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #53e4fe 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #009be8
}
.fs1 {
	FONT-SIZE: 14px
}
.12b {
	FONT-SIZE: 12px; COLOR: #FFFFFF; LINE-HEIGHT: 140%; TEXT-DECORATION: none}
.12w {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.14{FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.bt01 {
	FONT-SIZE: 14px; COLOR: #134d8b; TEXT-DECORATION: none
}
.borders {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.borders1 {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.sinput1 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; BORDER-LEFT: #ffffff 1px ridge; WIDTH: 70px; BORDER-BOTTOM: 1px ridge; HEIGHT: 20px; BACKGROUND-COLOR: #cccccc
}
.topinput1 {
	BORDER-RIGHT: #2eacfc 1px solid; PADDING-RIGHT: 1px; BACKGROUND-POSITION: left 50%; BORDER-TOP: #2eacfc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #2eacfc 1px solid; WIDTH: 100px; PADDING-TOP: 1px; BORDER-BOTTOM: #2eacfc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ebfeff; TEXT-ALIGN: left
}
.topbutton1 {
	BORDER-RIGHT: #005bc1 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #005bc1 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #005bc1 1px solid; WIDTH: 40px; COLOR: #005bc1; PADDING-TOP: 1px; BORDER-BOTTOM: #005bc1 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #d0f4ff
}
.topinput2 {
	BORDER-RIGHT: #2eacfc 1px solid; PADDING-RIGHT: 1px; BACKGROUND-POSITION: left 50%; BORDER-TOP: #2eacfc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #2eacfc 1px solid; WIDTH: 150px; PADDING-TOP: 1px; BORDER-BOTTOM: #2eacfc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ebfeff; TEXT-ALIGN: left
}
.topbutton2 {
	BORDER-RIGHT: #d0cfdd 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d0cfdd 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #d0cfdd 1px solid; WIDTH: 75px; COLOR: #005bc1; PADDING-TOP: 1px; BORDER-BOTTOM: #d0cfdd 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #d0f4ff
}
.bg { background-color: #FFFFFF; 
background-repeat: no-repeat; background-position: right top} .bigfont { font-family: 
"??"; font-size: 14px; color: #CC0000}